.sidebar {
    position: fixed;
    height: 350px;
      width: 200px;
      top: 31px;
      border: 2px solid;
      border-top: 0;
      overflow: auto;
      overflow-x: hidden;
  }
  .sidebar>div {
    margin: 10px 0;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      padding: 5px;
      background: #f7f7f7;
      cursor: pointer;
      transition: 0.4s;
      position: relative;
      white-space: pre;
      overflow: hidden;
  }
  
  .sidebar>div:hover,.sidebar>div.active {
    background: #000;
    color: #fff;
  }
  .sidebar>div>span {
    position: absolute;
    top: 0;
    right: 0;
    background: #ff4141;
    font-size: 13px;
    color: #fff;
    padding: 2px;
  }
  .sidebar:empty:before {content: "No emails to show";display: flex;}