*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
div#root {
  width: 100%;
  margin: auto;
  max-width: 584px;
}



.email-body {
  margin-left: 200px;
  width: calc(100% - 200px);
  border: 2px solid;
    border-top: 0;
    border-left: 0;
  height: 350px;
  padding: 10px;
  overflow: auto;
    overflow-x: hidden;
}
.mail-buttons {
  text-align: right;
}

.mail-buttons>button {
  margin-right: 20px;
  padding: 4px 8px;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
}

.mail-buttons>button:last-child {
  margin-right: 0;
}

button.reply {
  background: #509036;
}

button.delete {
  background: #d82525;
}

button.archive {
  background: #7b7bca;
}
button.cancel {
  background: gray;
}
.mail-buttons>textarea {
  display: block;
  margin-left: auto;
  margin-top: 14px;
  min-height: 50px;
  resize: none;
  font-size: 16px;
  padding: 5px;
}
.reply-container {
  margin: 10px 0;
}

.reply-container>div {
  margin-bottom: 10px;
  color: #828080;
  font-style: italic;
  background: #e2e2e2;
  padding: 2px;
  border-radius: 4px;
}

.all-text img {
  display: block;
  max-width: 250px;
  margin-top: 20px;
}
.text-body {
  margin-top: 25px;
}
input[type="text"] {
  background: #244286;
  outline: none;
  border: none;
  color: #fff;
  padding-left: 10px;
}
